%h1
  Welcome, #{@user.name}
%hr
- if @user.products
  %section
    .row
      .col-sm-12
        %h2 Your Subscriptions
        - @user.products.each do |product|
          .row.product
            .col-sm-4
              = image_tag product.image, class: "img img-circle"
              %h4 #{number_to_currency(product.price)}/month
            .col-sm-8
              %h3= product.name
              %p= product.description
          %hr

